<div class="container">
  <div class="py-5 text-center">
    <h2>Poison checker</h2>
  </div>

  <div class="row">

    <div class="col-md-4 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">Your mushroom</h4>
      <form>
        <ul class="list-group mb-3">
          <li class="list-group-item">
            <button type="submit" class="btn btn-primary">Calculate</button>
          </li>
          <% for filter, options in @filters %>
          <li class="list-group-item">
            <label for="<%= filter %>"><%= filter %></label>
            <select class="custom-select d-block" id="<%= filter %>" name="<%= filter %>">
              <option value="">Unknown</option>
              <%= options_for_select(options, @criteria[filter]) %>
            </select>
          </li>
          <% end %>
          <li class="list-group-item">
            <button type="submit" class="btn btn-primary">Calculate</button>
          </li>
        </ul>
      </form>
    </div>

    <div class="col-md-8">
      <h4 class="mb-3">Results</h4>
      <p>You have an <strong><%= @poison.probability %>%</strong> chance of being poisoned by this mushroom</p>
      <p class="text-muted"><small>Disclaimer: do not eat actual mushrooms based on this test</small></p>
    </div>
  </div>

</div>
